common/src/main/resources/xsd/scraper.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="scraper">
    <xs:complexType>
      <xs:choice>
        <xs:element name="series" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="id"/>
              <xs:element type="xs:string" name="name" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="overview" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:date" name="firstAired" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="network" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="status" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="rating" maxOccurs="1" minOccurs="0"/>
              <xs:element name="poster" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:short" name="height" use="optional"/>
                      <xs:attribute type="xs:short" name="width" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="banner" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:short" name="height" use="optional"/>
                      <xs:attribute type="xs:short" name="width" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="fanart" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:short" name="height" use="optional"/>
                      <xs:attribute type="xs:short" name="width" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="seasonPoster" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:short" name="height"/>
                      <xs:attribute type="xs:short" name="width"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="actor" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="path"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="role"/>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="height" use="optional"/>
                  <xs:attribute type="xs:short" name="width" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="episode" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:short" name="height"/>
                      <xs:attribute type="xs:short" name="width"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="movie" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="id"/>
              <xs:element type="xs:byte" name="adult" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="budget" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="genre" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="homepage" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="originalTitle" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="overview" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:float" name="popularity" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:date" name="releaseDate" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="revenue" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="runtime" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="tagline" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="title" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:float" name="voteAverage" maxOccurs="1" minOccurs="0"/>
              <xs:element name="actor" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="path"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="role"/>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="height" use="optional"/>
                  <xs:attribute type="xs:short" name="width" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="fanart" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:short" name="height" use="optional"/>
                      <xs:attribute type="xs:short" name="width" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="poster" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:short" name="height" use="optional"/>
                      <xs:attribute type="xs:short" name="width" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>

